{% extends 'base.html' %}
{% load static %}

{% block script %}

{% endblock script %}


{% block content2 %} 
<!-- {% if not my_company and staff_count <= 2 %}
    {% include "users/company_modal.html" %}
{% endif %} -->
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="{% static 'assets/images/logo-dark.png' %}" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">{{ header }}</h4>
                        {% block users %}

                        {% endblock users %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content2 %}
