{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'people/main.js' %}" defer></script>
<script src="{% static 'people/actions.js' %}" defer></script>

{% endblock scripts %}

{% block title %}
employees
{% endblock title %}

{% block content %}
<!-- [ employees Content ] start -->

<!-- Create Modal -->
<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Create Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="alertModal-box"></div>
                <form id="create-form" autocomplete="off">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="">
                        <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="add-btn" class="btn  btn-primary">Save</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

<!-- Update  Modal -->
<div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel2">Update Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="update-form" autocomplete="off">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete  start -->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel3"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel3">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure you want to delete: </p>
                <p id="delMsgName"></p>
            </div>
            <div class="modal-footer">
                <form id="delete-form">
                    {% csrf_token %}
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Selected start -->
<div id="deleteSelectedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel4"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel4">Delete Selected Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p id="delSelMsg" class="mb-0"></p>
            </div>
            <div class="modal-footer">
                <form id="delete-selected-form">
                    {% csrf_token %}
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-danger" id="submitDelSel">Ok</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
    <!-- [ sample-page ] end -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Employees</h5> 
                <div class="d-flex flex-wrap justify-content-around mt-3">
                    <div>
                        <button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#addModal">
                            Add Employee
                        </button>
                        <button type="button" class="btn btn-danger" id="delete-selected-btn" data-toggle="modal"
                            data-target="#deleteSelectedModal">Delete Selection
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="alert-box"></div>
                <div class="dt-responsive table-responsive">
                    <table id="row-select" class="table table-striped table-bordered nowrap ">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>employee Name</th>
                                <th>Phone N°</th>
                                <th>Address</th>
                                <th>Salary</th>
                                <th>D Payments</th>
                                <th>Credit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="rows-box"></tbody>
                        <tfoot>
                            <th>N°</th>
                            <th>employee Name</th>
                            <th>Phone N°</th>
                            <th>Address</th>
                            <th>Salary</th>
                            <th>D Payments</th>
                            <th>Credit</th>
                            <th>Action</th>
                        </tfoot>
                    </table>
                    <div id="spinner-box" class="text-center">
                        <div class="spinner-border mb-3" role="status"></div>
                    </div>
                    <div class="text-center mb-3 mt-3" id="end-box">
                        <button class="btn btn-primary" id="load-btn">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row Selection (Multiple Rows) table end -->
</div>
<!-- [ employees Content ] start -->
{% endblock content %}