{% load static %}

<!-- [ Profile Content ] French start -->
<div class="pcoded-main-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Admin</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card">
                                        <a>
                                            <span><i class="feather icon-maximize"></i>
                                                maximiser</span><span style="display:none"><i
                                                    class="feather icon-minimize"></i>
                                                restaurer
                                            </span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item minimize-card">
                                        <a href="#!">
                                            <span><i class="feather icon-minus"></i> s'effondrer
                                            </span>
                                            <span style="display:none"><i class="feather icon-plus"></i> agrandir </span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item reload-card ">
                                        <a>
                                            <i class="feather icon-refresh-cw"></i>
                                            recharger
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="alert-box"></div>
                        <form id="profile-form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputFname">Nom</label>
                                    <input type="text" class="form-control" id="inputFname" placeholder="Nom"
                                        value="{% if obj.first_name %} {{ obj.first_name }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputLname">Prénom</label>
                                    <input type="text" class="form-control" id="inputLname" placeholder="Prénom"
                                        value="{% if obj.last_name %} {{ obj.last_name }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Ex: user@domaine.com"
                                        value="{% if obj.email %} {{ obj.email }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPhone">Numéro de téléphone</label>
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Ex: 055190...."
                                        value="{% if obj.phone %} {{ obj.phone }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress">Addresse</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        placeholder="Ex: Rue El Aid Bouchekrit Cité Saou Meziane"
                                        value="{% if obj.address %} {{ obj.address }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Ville</label>
                                    <input type="text" class="form-control" id="inputCity" placeholder="Ex: El-Eulma"
                                        value="{% if obj.city %} {{ obj.city }} {% endif %}">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">
                                    <span id="saveProfile-box">Sauvgarder</span>
                                    <div id="spinner-box" class="spinner-border text-center not-visible">
                                        <div class="sr-only" role="status"></div>
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Profile Content ] French end -->