{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'sales/new.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    New Sale
{% endblock title %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <!-- [ New Sale Content ] start -->
        <div class="d-flex flex-wrap justify-content-center">
            <!-- [ sample-page ] start -->
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h5>New Sale</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body justify-content-between">
                        <div class="d-flex flex-wrap justify-content-around">
                            <div class="form-group col-md-6">
                                <label for="inputName" class="d-flex flex-wrap justify-content-center">Client Name</label>
                                <div class="input-group mb-3">
                                    {{ form.client }}
                                </div>
                            </div>
                            <!-- <div class="form-group col-md-6">
                                <label for="inputLname" class="d-flex flex-wrap justify-content-center">Sale
                                    Date</label>
                                <div class="d-flex flex-wrap justify-content-center">
                                    <input type="text" id="datepicker" class="text-center" width="412"
                                        style="padding-bottom: 1.2rem;" required />
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>New Sale</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body table-border-style">
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="col-sm-1">
                                    <button id="add-form" type="button" class="btn btn-icon btn-success mt-3" data-toggle="tooltip" data-placement="top" title="Add item">
                                        <i class="feather icon-plus"></i>
                                    </button>
                                </div> 
                                <div class="col-sm-11 table-responsive">
                                    <table id="form-container" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Unit Price</th>
                                                <th>Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{formset.management_form}}
                                            {% for formpro in formset %}
                                                <tr class="purchase-form">
                                                    <td>{{formpro.products}}</td>
                                                    <td>{{formpro.sale_price}}</td>
                                                    <td>{{formpro.quantity}}</td>
                                                    <td>{{formpro.total_amount}}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="new_sale-td">Sub Totla</td>
                                                <td class="new_sale-td">
                                                    {{ form.sub_total }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="new_sale-td">Discount</td>
                                                <td class="new_sale-td">
                                                    {{ form.discount }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="new_sale-td">Tax</td>
                                                <td class="new_sale-td">
                                                    {{ form.tax }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="new_sale-td">Grand Total</td>
                                                <td class="new_sale-td">
                                                    {{ form.grand_total }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="new_sale-td">Payment</td>
                                                <td class="new_sale-td">
                                                    {{ form.payment }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="new_sale-td">Left To Pay</td>
                                                <td class="new_sale-td">{{ form.left_to_pay }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="spinner-box" class="text-center not-visible">
                                        <div class="spinner-border mb-3" role="status"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn  btn-primary">Create Sale</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
    <!-- [ New Sale Content ] end -->
</form>
{% endblock content %}