{% extends 'base.html' %}

{% load static %}
{% block scripts %}
<script src="{% static 'dashboard/main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<!-- [ Profile Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Users</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard:index' %}"><i class="feather icon-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a>Settings</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'users:profile' %}">Company</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Admin</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card">
                                        <a>
                                            <span><i class="feather icon-maximize"></i>
                                                maximize</span><span style="display:none"><i
                                                    class="feather icon-minimize"></i>
                                                Restore
                                            </span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item minimize-card">
                                        <a href="#!">
                                            <span><i class="feather icon-minus"></i> collapse
                                            </span>
                                            <span style="display:none"><i class="feather icon-plus"></i> expand </span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item reload-card ">
                                        <a>
                                            <i class="feather icon-refresh-cw"></i>
                                            reload
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="alert-box"></div>
                        <form id="company-form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="Company Name"
                                        value="{% if obj.name %} {{ obj.name }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                                        value="{% if obj.email %} {{ obj.email }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPhone">Phone Number</label>
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Ex: 055190...."
                                        value="{% if obj.phone %} {{ obj.phone }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        placeholder="Ex: Rue El Aid Bouchekrit Cité Saou Meziane"
                                        value="{% if obj.address %} {{ obj.address }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputWebUrl">Web Site</label>
                                    <input type="text" class="form-control" id="inputWebUrl"
                                        placeholder="Ex: www.google.com"
                                        value="{% if obj.web_url %} {{ obj.web_url }} {% endif %}">
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">
                                    <span id="saveCompany-box">Save</span>
                                    <div id="spinner-box" class="spinner-border text-center not-visible">
                                        <div class="sr-only" role="status"></div>
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Profile Content ] end -->
{% endblock content %}