{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'dashboard/main.js' %}" defer></script>
<script src="{% static 'dashboard/actions.js' %}" defer></script>
{% endblock scripts %}


{% block content %}
<!-- [ Profile Content ] start -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>General Settings</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card">
                                <a>
                                    <span><i class="feather icon-maximize"></i>
                                        maximize</span><span style="display:none"><i class="feather icon-minimize"></i>
                                        Restore
                                    </span>
                                </a>
                            </li>
                            <li class="dropdown-item minimize-card">
                                <a href="#!">
                                    <span><i class="feather icon-minus"></i> collapse
                                    </span>
                                    <span style="display:none"><i class="feather icon-plus"></i> expand </span>
                                </a>
                            </li>
                            <li class="dropdown-item reload-card ">
                                <a>
                                    <i class="feather icon-refresh-cw"></i>
                                    reload
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="alert-box"></div>
                <div class="d-flex flex-wrap justify-content-around mt-5">
                    <div class="col-sm-6 text-center"><h6 style="line-height: 3;">Database Backup</h6></div>
                    <form id="backup-form" autocomplete="off">
                        {% csrf_token %}
                        <div class="col-sm-6 text-center">
                            <button type="submit" class="btn btn-primary">
                                <span id="downloadDb-box">Download</span>
                                    <div id="backup-spinner-box" class="spinner-border text-center not-visible">
                                        <div class="sr-only" role="status"></div>
                                    </div>
                            </button>
                        </div>
                    </form>
                    
                </div>
                <div class="d-flex flex-wrap justify-content-around mt-5">
                    <div class="col-sm-6 text-center"><h6>Database Restore</h6></div>
                    <div id="dblist-Box" class="col-sm-6 text-center">
                        <div id="getbackups-spinner-box" class="spinner-border text-center">
                            <div class="sr-only" role="status"></div>
                        </div>
                        <select class="cusom-select not-visible" name="" id="db-select"></select>
                        <form id="restore-form" autocomplete="off">
                            {% csrf_token %}
                            <div class="col-sm-6 text-center">
                                <button type="submit" class="btn btn-primary">
                                    <span id="restore-box">Rollback</span>
                                        <div id="rollback-spinner-box" class="spinner-border text-center not-visible">
                                            <div class="sr-only" role="status"></div>
                                        </div>
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                {% if events %}
                    {% for event in events %}
                        <div class="d-flex flex-wrap justify-content-around mt-5">
                            <div class="col-sm-6 text-center"><h6>{{ event.name }}'s End</h6></div>
                            <div id="event-box" class="col-sm-6 text-center">{{ event.when|date:"M d, Y H:m:s" }}</div>
                        </div>
                        <div class="text-center mt-5"><h5>Time Left:</h5></div>
                        <div id="countdown-box" class="text-center mt-3 h3">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- [ Profile Content ] end -->
{% endblock content %}