{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'purchases/main.js' %}" defer></script>
<script src="{% static 'purchases/actions.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Purchases
{% endblock title %}


{% block content %}
<!-- [ Purchase History Content ] start -->

<!-- Update Modal -->
<div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel1">Update Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="update-form" autocomplete="off">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete  start -->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel3"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel3">Delete Purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="mb-2">Are you sure you want to delete: </p>
                <p id="delMsgName"></p>
            </div>
            <div class="modal-footer">
                <form id="delete-form">
                    {% csrf_token %}
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Selected start -->
<div id="deleteSelectedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel4"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel4">Delete Selected Purchases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p id="delSelMsg" class="mb-0"></p>
            </div>
            <div class="modal-footer">
                <form id="delete-selected-form">
                    {% csrf_token %}
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-danger" id="submitDelSel">Ok</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Purchase History</h5>
                <div class="d-flex flex-wrap justify-content-around mt-3">
                    <div>
                        <button type="button" class="btn btn-danger" id="delete-selected-btn" data-toggle="modal"
                            data-target="#deleteSelectedModal">Delete Selection
                        </button>
                    </div>
                    <div>
                        <a href="{% url 'purchases:export-csv' %}" class="btn btn-info mr-3">Export .Csv</a>
                    </div>
                </div>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i>
                                        maximize</span><span style="display:none"><i class="feather icon-minimize"></i>
                                        Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                            class="feather icon-minus"></i> collapse</span><span style="display:none"><i
                                            class="feather icon-plus"></i> expand</span></a>
                            </li>
                            <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i>
                                    reload</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body table-border-style"> 
                <div id="alert-box"></div>
                <div class="dt-responsive table-responsive">
                    <table id="row-select" class="table table-striped table-bordered nowrap ">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Supplier</th>
                                <th>Purchase Date</th>
                                <th>Status</th>
                                <th>Grand Total</th>
                                <th>Payment</th>
                                <th>Purchased By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="rows-box"></tbody>
                    </table>
                    <div id="spinner-box" class="text-center">
                        <div class="spinner-border mb-3" role="status"></div>
                    </div>
                    <div class="text-center mb-3 mt-3" id="end-box">
                        <button class="btn btn-primary" id="load-btn">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
<!-- [ Purchase History Content ] end -->
{% endblock content %}